
/*==============================
	HEADER CSS
==============================*/
.social-bx, .login-bx{
	margin-left:0px;	
}
.header-nav .nav{
	float:left;
}

.logo-header{
	float:right;
}
.wt-topbar-right{
	float:left;
}
.header-skew::before {
    border-left: 7px solid #212427;
    left: -50px;
	right:auto;
	-webkit-transform: skew(30deg);
	-moz-transform: skew(30deg);
	-o-transform: skew(30deg);
	-ms-transform: skew(30deg);
	transform: skew(30deg);

}
.site-search form::before{
	border-right: 7px solid #212427;
	border-left: 0px solid #212427;
	right:-25px;
	left:auto;	
	-webkit-transform: skew(-30deg);
	-moz-transform: skew(-30deg);
	-o-transform: skew(-30deg);
	-ms-transform: skew(-30deg);
	transform: skew(-30deg);
}
.site-search{
	left:0px;
	right:auto;
	padding-left:0px;
	padding-right:50px;
}
.extra-nav{
	float:left;
}

.header-skew::after {
    left: 10%;
	right:auto;
}

.header-nav .nav i {
    margin-right: 3px;
}

.header-center .wt-header-right-child {
    float: left;
    padding-left: 0px;
	padding-right:0px;
}
.nav-wide .container {
    padding: 0px 15px 0px 0px;
}
@media only screen and (max-width:991px){
.header-nav .nav{
	width:100%;
}	
.header-nav .nav i{
	float:left;
}
.has-child .submenu-toogle {
    left: 0px;
    top: 5px;
    right: 0px;
    padding-right: 15px;
}

}
.header-nav .nav > li .sub-menu {
	left:auto;
	right:0;
}
.header-nav .nav > li .sub-menu li:hover > .sub-menu{
	right:218px;
}
.header-nav .nav > li .sub-menu li > .sub-menu{
	right:220px;
}



.nav-cart-item-image{
	float:right;	
}
.cart-dropdown-item-wraper{
	text-align:right;
	right:-160px;
}

.nav-cart-item-image{
	margin-left:15px;
	margin-right:0px;
}
.nav-cart-item-desc a.nav-cart-item-quantity{
	left:0px;
	right:auto;
}
.nav-cart-items::before{
	left:25px;
	right:auto;
}

@media only screen and (max-width:600px) {
.navbar-toggle{
	 margin: 24px 10px 24px 0px;
}

}
.boxed .header-skew::after {
    right: -15px;
}

/*==============================
	BREADCRUMB CSS
==============================*/
.breadcrumb-style-1 li::after {
    content: "/";
    margin-right: 7px;
}

.breadcrumb-style-2 li::after{
	top:3px;
	left:-3px;
	right:auto;
	position:absolute;
	-moz-transform: scale(1) rotate(180deg);
	-webkit-transform: scale(1) rotate(180deg);
	-o-transform: scale(1) rotate(180deg);
	-ms-transform: scale(1) rotate(180deg);
	transform: scale(1) rotate(180deg);

}

.wt-breadcrumb li {
	margin-right:0px;
}
.breadcrumb-style-2 li{
	padding-left:20px;
}
.breadcrumb-style-2 li::after {
    top: -1px;
	
}

/*==============================
	BLOG STYLE CSS
==============================*/

.recent-posts-entry .wt-post-media {
    float: right;
}
.recent-posts-entry .wt-post-info {
    margin-right: 80px;
	margin-left:auto;
	background: transparent;
	padding: 0;
	border: none;	

}
.widget-post-bx .wt-post-date{
	float:right;
}
/*==============================
	DATE STYLE CSS
==============================*/


.date-style-1 .post-date span {
    float:left;
}

/*==============================
	TABS CSS
===============================*/
.wt-tabs .nav-tabs > li > a i{
	margin-left:5px;
	margin-right:auto;
}

/*==============================
	TESTIMONIALS
===============================*/
.testimonial-4 .testimonial-detail::after, 
.testimonial-grid-4 .testimonial-detail::before{
	left:-30px;
	right:auto;
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
	-ms-transform: skew(45deg);
	transform: skew(45deg);
}
.testimonial-4 .testimonial-detail .fa-quote-left,
.testimonial-grid-4 .testimonial-detail .fa-quote-left{
	right:0px;
	left:auto;
}
.testimonial-4 .testimonial-detail,
.testimonial-grid-4 .testimonial-detail {
    padding: 15px 70px 15px 20px;
}
.testimonial-4 .testimonial-detail .testimonial-position::after,
.testimonial-grid-4 .testimonial-detail .testimonial-position::after{
	right:-10px;
	left:auto;
}
.testimonial-4 .testimonial-pic, .testimonial-grid-4 .testimonial-pic{
	float:right;
}
.testimonial-4 .testimonial-paragraph, .testimonial-grid-4 .testimonial-paragraph{
	padding-left:inherit;
	padding-right:20px;
}
.testimonial-4 .testimonial-pic::after, .testimonial-grid-4 .testimonial-pic::after{
	right: 36px;
	left:auto;
	-webkit-transform: skew(-25deg);
	-moz-transform: skew(-25deg);
	-o-transform: skew(-25deg);
	-ms-transform: skew(-25deg);
	transform: skew(-25deg);
}

.testimonial-4 .testimonial-detail .fa-quote-left, .testimonial-grid-4 .testimonial-detail span{
	-moz-transform: scale(1) rotate(180deg);
	-webkit-transform: scale(1) rotate(180deg);
	-o-transform: scale(1) rotate(180deg);
	-ms-transform: scale(1) rotate(180deg);
	transform: scale(1) rotate(180deg);	
}

.testimonial-2 .testimonial-pic, .testimonial-grid-2 .testimonial-pic{
	margin-right: auto;
	margin-left: 15px;
	float:right;
}

.testimonial-2 .testimonial-text::after, .testimonial-grid-2 .testimonial-text::after{
	right:25px;
	left:auto;
}
.testimonial-2 .testimonial-text .fa-quote-left, .testimonial-grid-2 .testimonial-text .fa-quote-left{
	right:15px;
	left:auto;
}

.testimonial-2 .testimonial-text, .testimonial-grid-2 .testimonial-text{
	 padding: 25px 50px 25px 30px;	
}

.testimonial-2 .testimonial-name, .testimonial-2 .testimonial-position,
.testimonial-grid-2 .testimonial-name, .testimonial-grid-2 .testimonial-position{
	text-align:left;
}

@media only screen and (max-width:400px){
.testimonial-4 .testimonial-detail::after, .testimonial-grid-4 .testimonial-detail::before{
	left:-40px;
}
}
/*==============================
	ABOUT COMPANY
===============================*/
.about-types .wt-icon-box-wraper{
	border-width:0px 3px 0px 0px;
	padding-left:0px;
	padding-right:20px;
}
.about-types .icon-xld, .about-types .icon-xl, .about-types .icon-lg, .about-types .icon-md, .about-types .icon-sm, .about-types .icon-xs{
	float:right !important;
	margin-right:auto !important;
	margin-left:10px !important;
}
/*=============================
	FILTER CSS
==============================*/
.masonry-filter.link-style > li::after{
	left:-18px;
	right:auto;
}
/*=============================
	ICON BOX CSS
==============================*/

.wt-icon-box-wraper.left .icon-xld, 
.wt-icon-box-wraper.left .icon-xl, 
.wt-icon-box-wraper.left .icon-lg, 
.wt-icon-box-wraper.left .icon-md, 
.wt-icon-box-wraper.left .icon-sm, 
.wt-icon-box-wraper.left .icon-xs{
	float:right;
	margin-left:10px;
	margin-right:auto;
}


.wt-icon-box-wraper.left .wt-icon-box-xld, 
.wt-icon-box-wraper.left .wt-icon-box-xl, 
.wt-icon-box-wraper.left .wt-icon-box-lg, 
.wt-icon-box-wraper.left .wt-icon-box-md, 
.wt-icon-box-wraper.left .wt-icon-box-sm, 
.wt-icon-box-wraper.left .wt-icon-box-xs{
	float:right;
    margin-left:20px;
	margin-right:auto;}

.wt-icon-box-wraper.bx-style-2.left [class*="wt-icon-box-"]{
	right:0px;
	left:auto;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
}
.bx-style-2{
	margin-left:0px;
	margin-right:40px;
}
.bx-style-2 .icon-content{
	padding-left:0px;
	padding-right:40px;
}

/*==============================
	ACCORDIANS CSS
==============================*/
.acod-head .indicator{
	right:auto;
	left:0px;
}

.acod-head a {
    display: block;
    padding: 15px 15px 15px 40px;
}

/*==============================
	ACCORDIANS CSS
==============================*/
input[type="checkbox"] + label::before, input[type="radio"] + label::before{
	margin-right:-20px;
	margin-left:auto;
}

input[type=checkbox]:checked + label:after{
	right:-18px;
}

@media only screen and (max-width:768px){
input[type="checkbox"]:checked + label::after {
    right: 2px;
    top: 3px;
}
}

/*==============================
	WIDGET CSS
==============================*/

.widget-title::before{
	right:0px;
	left:auto;
}

.widget-title::after{
	right:18px;
}

.widget_categories ul li::before, 
.widget_archive ul li::before, .widget_meta ul li::before, 
.widget_pages ul li::before, .widget_recent_comments ul li::before, 
.widget_nav_menu ul li::before, .widget_useful_links ul li::before, 
.widget_recent_entries ul li::before, .widget_services ul li::before{
	right:0px;
	left:auto;
}

.widget_categories ul li, .widget_archive ul li, 
.widget_meta ul li, .widget_pages ul li, 
.widget_recent_comments ul li, 
.widget_nav_menu li, .widget_recent_entries ul li, 
.widget_services ul li{
	
	 padding: 10px 15px 10px 15px;
}

.widget_categories ul li li, 
.widget_archive ul li li, .widget_meta ul li li, 
.widget_pages ul li li, .widget_recent_comments ul li li, 
.widget_nav_menu li li, .widget_services li li{
	padding: 0 15px 0 10px;
}
.widget_categories li{
	text-align:left;
}
.widget_categories li a{
	float:right;
}


/*==============================
	BASIC CSS
==============================*/

.text-left{
	text-align:right;
}

.text-right{
	text-align:left;
}

/*==============================
	OWL CSS
==============================*/
.owl-prev {
    margin-left: 5px;
	margin-right: auto;
	
}

.site-search form{
	padding-left:15px;
}

.mfp-counter{
	direction:ltr;
}

/*==============================
	REVOLUTION SLIDER CSS
==============================*/
.slider-number-wraper::after{
	left:auto;
	right:0px;
}

/*==============================
	FILLTER BUTTON SKEW CSS
==============================*/
.masonry-filter.outline-style.button-skew > li a {
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	-ms-transform: skew(20deg);
	transform: skew(20deg);	
}

.masonry-filter.outline-style.button-skew > li a span{
	display:inline-block;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
	transform: skew(-20deg);
}


.latest-blog-4 .wt-post-media {
    float: right;
}
/*==============================
	Filter Css
==============================*/
.btn-filter-wrap li::after {
    left: auto;
	right:-10px
}

.btn-filter-wrap li:last-child {
    padding-right:10px;
    padding-left: 0px;
}	

.header-nav .nav > li .sub-menu li a{
	position:relative;
}
.header-nav .nav > li .sub-menu li a .nav-new-label{
	right:auto;
	left: 10px;
}

/*===============================
	other parts
===============================*/
blockquote .fa-quote-left{
	right:40px;
	left:auto;
	
	webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

/*---------------------------*/
ol.comment-list li.comment .comment-body {
    padding: 20px 100px 20px 30px;
}
ol.comment-list li.comment .comment-author .avatar{
	right:20px;
	left:auto;
}
ol.comment-list li.comment .reply {
    text-align: left;
}
ol.comment-list li.comment .comment-body{
	border-right: 4px solid #50aab2;	
	border-left:0px;
}

ol.comment-list li .children {
    margin-left: auto;
	margin-right: 80px
}
@media only screen and (max-width:640px){
ol.comment-list li .children {
	margin-right: 30px
}
}
@media only screen and (max-width:380px){
ol.comment-list li.comment .comment-body {
    padding: 20px;
}
}
.comment-respond .form-submit .site-button {
    font-weight: 700;
}

ol.comment-list li.comment .reply a::after {
    right: 0;
	left:auto;

}
/*---------------------------*/

.widget_services ul li span {
    float: left;
}
/*---------------------------*/
.widget_tag_cloud a{
	margin-left:25px;
	margin-right:0px;
}
/*---------------------------*/
.search-bx .input-group .input-group-btn{
	left:0px;
	right:auto;
}


/*---------------------------*/
.site-button-link::after {
    direction: ltr;
}
/*---------------------------*/

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
  padding:0px 5px !important;
}


.owl-carousel .owl-nav .owl-prev i {
 	webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	display: inherit;   
}


.owl-carousel .owl-nav .owl-next i {
 	webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	display: inherit;   
}


.owl-btn-vertical-center .owl-nav .owl-prev {
    left: auto;
	right:0px;
}
.owl-btn-vertical-center .owl-nav .owl-prev i {
	display:inline-block;
}

.owl-btn-vertical-center .owl-nav .owl-next {
    right: auto;
	left:0px;
}
.owl-btn-vertical-center .owl-nav .owl-next i {
	display:inline-block;
}


/*---------------------------*/
.video-section-left .play-now{
	right:-25%;
	left:auto;
}

/*---------------------------*/
.testimonial-5 .testimonial-paragraph .fa-quote-left {
	right:0px;
	left:auto;
	webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.testimonial-5 .testimonial-pic-block {
    float: left;
}
.testimonial-5 .testimonial-detail {
    float: right;
}

/*---------------------------*/
.latest-blog-1 .wt-post-info {
    padding: 40px 40px 0px 0px;
}
.post-author-pic a span:first-child {
    padding-right: 0px;
	padding-left: 10px;
}
.latest-blog-1 .wt-post-meta .post-author img {
    margin-left: 10px;
	margin-right: 0px;

}

.latest-blog-1 .wt-post-info .post-date{
	left: auto;
	padding-left: 10px;
	direction: ltr;
	right: 20px;
	top: 40px;
	-webkit-transform-origin: top right -100px;
	-ms-transform-origin: top right -100px;
	transform-origin: top right -100px;
}
@media only screen and (max-width:768px){
.latest-blog-1 .wt-post-info .post-date {
    padding-left: 40px;
}
.latest-blog-1 .wt-post-info .post-date::after {
    top: 50px;
}
}
/*---------------------------*/
.list-circle li, .list-angle-right li, .list-arrow li, .list-check li, .list-checked li, .list-check-circle li, .list-chevron-circle li, .list-arrow-circle li, .list-times-circle li{
	padding: 5px 20px 5px 5px;
}

.list-circle li:before,
.list-angle-right li:before,
.list-arrow li:before,
.list-check li:before,
.list-checked li:before,
.list-check-circle li:before,
.list-chevron-circle li:before,
.list-arrow-circle li:before,
.list-times-circle li:before {
	left: auto;
	right: 0px;
}
/*---------------------------*/
.input-animate.input label {
	right:0px;
    left: auto;

}

/*---------------------------*/
.site-search-btn i{
    direction:rtl;
	webkit-transform: scaleX(-1);
	transform: scaleX(-1);		
}
#search .close{
	right:auto;
	left:15px;
}
/*---------------------------*/
.sep-line-one{
	display:block;
}
@media only screen and (max-width:991px) {
.header-center .wt-header-right {
	width: auto;
	padding-right: 0px;
	padding-left: 50px;
}
.header-nav .nav li {
    float: none;
    text-align: right;
}
}

.footer-link ul li a::after{
	left:auto;
	right:0px;
}


.styleswitcher{
	right: -170px;
	left: auto;
}

.styleswitcher .switcher-btn-bx {
    position: absolute;
    left: -40px;
	right: auto !important;
    top: 140px;
    box-shadow:  -7px 1px 5px rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: -7px 1px 5px rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow:  -7px 1px 5px rgba(0, 0, 0, 0.1) !important;
    -o-box-shadow:  -7px 1px 5px rgba(0, 0, 0, 0.1) !important;
}
.styleswitcher.active {
	left: auto;
	right: 0px;
  }

.wt-post-bottom li::after {
	-webkit-transform: rotate(-35deg);
	-moz-transform: rotate(-35deg);
	-o-transform: rotate(-35deg);
	-ms-transform: rotate(-35deg);
	transform: rotate(-35deg);
}
.wt-post-meta li::after {
	-webkit-transform: rotate(-35deg);
	-moz-transform: rotate(-35deg);
	-o-transform: rotate(-35deg);
	-ms-transform: rotate(-35deg);
	transform: rotate(-35deg);
}


.site-button::before{
	left:auto;
	right:0px;
}
.site-button::after {
	left:0px;
	right:auto;
}
.site-button {
    font-size: 14px;
    font-weight: bold;
}
.search-bx .input-group .input-group-btn button i {
    direction:rtl;
	webkit-transform: scaleX(-1);
	transform: scaleX(-1);	
}

#search .search-btn {
    padding: 0px 30px 0px 0px;
}
#search .search-btn i {
	direction:rtl;
	webkit-transform: scaleX(-1);
	transform: scaleX(-1);	
}


.counter-sec-top {
    right:auto;
    left: 10px;
}
.counter-sec-bottom {
    right:10px;
    left:auto;
}

.hover-effect-content{
	left:20px;
	right:auto;
}
.hover-effect-content::after{
	left:40px;
	right:auto;
	
	border-top: 25px solid #fff;
	border-right: 25px solid transparent;
	border-left:0px;
}


.wt-separator-outer.separator-left {
    text-align: right;
}

/*----------------------------------*/
.welcome-carousel-1{
	float:left;
	padding-left:80px;
	padding-right:0px;
	margin-left: -230px;
	margin-right:0px;
}
.welcome-carousel-outer::after{
	left:0px;
	right:auto;
}
.welcome-bg-block{
	margin-left:230px;
	margin-right:0px;
}

.welcome-carousel-1 .home-carousel-1.owl-btn-bottom-left .owl-nav{
	right: -272px;
	left:auto;
}

.welcome-carousel-1 .home-carousel-1 {
    -webkit-box-shadow: 30px 30px 60px 0 #rgba(0,0,0,0.5);
    box-shadow: 30px 30px 60px 0 rgba(0,0,0,0.5);
}

@media only screen and (max-width: 768px) {
.welcome-carousel-1 .home-carousel-1.owl-btn-bottom-left .owl-nav {
	left: 0px;
	right:auto;
}
}

@media only screen and (max-width: 540px) {
.welcome-bg-block {
    margin-left: 0px;
}

.welcome-carousel-1 {
    float: none;
    margin-left: 0px;
    padding: 10%;
    margin: 0px auto;
}
}
@media only screen and (max-width: 400px) {
.hover-effect-content {
    left: 0px;
    right: auto;
}
}


@media only screen and ( max-width:768px ){
#search form {
    margin-left: 27%;
}
#search .close::after, #search .close::before{
	top:-5px;
}

}

.testimonial-home.owl-btn-top-right .owl-nav{
	text-align:left;
}

.filter-navigation li{
	margin: 0px 0px 0px 20px;
}

.filter-navigation li:first-child {
	padding-left: 0px;
	margin-left: 20px;
}
.filter-navigation li:last-child {
	padding-left: 0px;
	margin-left: 0px;
}

.hover-box-effect .wt-thum-bx [class*="wt-icon-box-"]{
	left:20px;
	right:auto;
}
/*----------------*/
.our-team-one .team-bg{
	right:40px;
	left:0px;
	
}
.our-team-one{
	padding: 20px 0px 0 20px;
}
.our-team-one .team-img {
    padding: 40px 0px 0px 40px;
}
.our-team-one img {
  box-shadow: -20px -20px 20px rgba(0, 0, 0, 0.2);
}
.our-team-one .team-img ul {
    left:auto;
    right: 20px;
}
.our-team-one h4 {
    right: auto;
    left: 60px;
}


/*Responsive*/
.rev-rtl-sld-1 .tp-thumbs{
	transform: matrix(1, 0, 0, 1, 280, -100) !important;
	width: 100%;
	right: 100%;
	left: auto !important;
}
.rev-rtl-sld-1 .tp-tabs{
	right: 0px;
	left: auto !important;
}

.rev-rtl-sld-2 .tp-thumbs{
	transform: matrix(1, 0, 0, 1, 280, -100) !important;
	width: 100%;
	right: 100%;
	left: auto !important;
}
.rev-rtl-sld-2 .tp-tabs{
	right: 0px;
	left: auto !important;
}




.right-arrow-btn {
	transform: scaleX(-1);
}
.header-style-1 .extra-nav .site-search-btn{transform: scaleX(-1);}




/*=============contact Popup =================*/

.contact-slide-hide {
    right:auto;
	left:-640px;
	border-right:1px solid #ddd;
}
.contact-slide-hide.active{
    right:auto;
	left: 0px;
}
.contact-nav .contact_close{
	left: 0px;
	text-align: right;
	right: 20px;
}



@media only screen and (max-width: 991px) {
	.header-style-1 .navbar-toggler {
	  right: auto;
	  left: 12px;
	  height: 40px;
      width: 24px;
	}
}

@media only screen and (max-width: 991px) {
	.header-style-1.mobile-sider-drawer-menu.active .header-nav {
	  left: auto;
	  right: 0%;
	}
	.header-center .wt-header-center .header-nav .nav {
		padding-left: 0px;
		padding-right:10px;
	}
	.header-style-1.mobile-sider-drawer-menu .header-nav {
	  left: auto;
	  right: -250px;

	}
	.is-fixed .header-nav .nav > li > a {
		padding: 12px 30px;
	}
	.is-fixed.color-fill .header-nav .nav > li > a {
		padding: 12px 30px;
	}

	.header-style-1.mobile-sider-drawer-menu.active .icon-bar.icon-bar-two {
		left: 10px;
		right: auto;
	}

	.header-style-1.mobile-sider-drawer-menu .icon-bar.icon-bar-two {
		right: auto;
		left: 0%;
	}
	 
}


.header-nav .nav > li > a{
	font-size: 14px;
}
